<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>

<body>


   <div>
       --------------------------------传递的值-----{{name}}
         <p class="form-group">
             <div class="input-group" style="margin-left:400px;">
                 <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dat" is-open="popup1.opened" ng-required="true" close-text="关闭"
                        clear-text="清空" current-text="今天" alt-input-formats="altInputFormats" style="width:200px"/>
                     <button type="button" class="btn btn-info" ng-click="open1()">angular时间控件<i class="glyphicon glyphicon-calendar"></i></button>
                 
             </div>
         </p>
    </div>



</body>
</html>
