<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-i18n/1.6.0-rc.1/angular-locale_zh-cn.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"></link>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        @font-face
        {
            font-family: myFirstFont;
            src: url(sansation_light.woff);
        }

        @font-face
        {
            font-family: myFirstFont;
            src: url(sansation_bold.woff);
            font-weight:bold;
        }
        .back{
            font-family:myFirstFont;
            background-color:#FC6907
        }


        
        #selectUl{
            border: 1px solid #CCC;
            border-radius: 5px;
            width: 200px;;
        }
        #selectUl ul {
           list-style:none;margin-left: -40px;
        }
        #selectUl ul li{
            display:inline-block; width:198px; height:30px;
        }
         #selectUl ul li:hover{
           background:#F7F7F7;
        }
    </style>
    <script>
       var app = angular.module('bootApp',['ui.bootstrap']);
       //已指令的形式加载time控件
       app.directive('datepickerPopup',function (){
           return {
               restrict:'AE',
               //templateUrl:'./tmp/datepicker.html',
               template:angular.element(document.querySelector("#timeDiv")).html(),
               scope: true,
               controller:function ($scope,$element,$compile,$http,$attrs,$log,$filter){
                   var vm = $scope.$parent.vm;
				   //设置组件参数
                    $scope.dat = new Date();
                    $scope.format = $attrs.formt;
                    $scope.altInputFormats = ['yyyy/M!/d!'];
                    $scope.popup1 = {opened: false};
                    $scope.open1 = function (){
                    $element.bind('click',function(){ //根据项目的主题分格 颜色保持一致即可！ 这里随便改了个颜色。默认应该是白色的！这里是黑科技修改，实际应用应该是修改源码CSS
                            $element.find("ul").addClass('back');
                            var formatDate = $filter('date')($scope.dat, 'yyyy-MM-dd HH:mm:ss');
                        });
                            $scope.popup1.opened = true;
                    };
				   console.log("controller---");
               },
               compile:function (element,attributes){
                   return {
                       pre:function preLink(scope,element,attributes){
                           console.log("compile pre---");
                       },
                       post:function postLink(scope,element,attributes){
                            console.log("compile post---");
                       }
                   };
               },
            link:function (scope,element,attr){
                    console.log("link---");
               }
           }
       });
     //自定义指令实现下拉菜单
       app.directive('selectPopup',function ($filter,$compile){
           return {
               restrict:'AE',
               //templateUrl:'./tmp/datepicker.html',
               template:angular.element(document.querySelector("#selectDiv")).html(),
               scope: true,
               controller:function ($scope,$element,$http,$attrs,$log){
                    
               },
               compile:function (element,attributes){
                   return {
                       pre:function preLink(scope,element,attributes){
                          
                       },
                       post:function postLink(scope,element,attributes){
                           var names = ['a','b','c','d','e','f','abc','ade','ef'];
                           element.bind("keyup",function (){
                                var userName = scope.userName;
                                scope.tmp = $filter('filter')(names,userName);   
                                console.log(scope.tmp);  
                                angular.element(document.querySelectorAll("#selectUl")).remove();
                                if(''!=scope.userName){
                                     var html1 = '<div id="selectUl"><ul>';
                                     var html2 = '';
                                     angular.forEach(scope.tmp,function (n,i){
                                         html2 = ('<li ng-click="sel($event);">'+n+'</li>') + html2;
                                    })
                                    var html3 = '</ul></div>';
                                    var tpl = $compile(html1+html2+html3)(scope);//动态的事件绑定
                                    element.append(tpl);
                                }
                           })//点击li事件
                           scope.sel = function (ev){
                               //改变input的值
                               var val = angular.element(ev.target).html();
                               scope.userName = val;
                               //清空下拉框div
                               angular.element(document.querySelectorAll("#selectUl")).remove();
                           }
                       }
                   };
               },
            link:function (scope,element,attr){
                   
               }
           }
       });



    
    </script>

</head>

<body ng-app="bootApp">

       
<datepicker-popup formt='yyyy/MM/dd HH:mm:ss'></datepicker-popup>
<select-popup></select-popup>

  <!--模版文件time HTML-->
  <div id="timeDiv" style="display:none;">
         <p class="form-group">
             <div class="input-group" style="margin-left:400px;">
                <input type="text" class="form-control" 
				uib-datepicker-popup="{{format}}" 
                ng-model="dat" 
				is-open="popup1.opened" 
				ng-required="true" 
				close-text="关闭"
                clear-text="清空" 
				current-text="今天"
				datepicker-append-to-body=false
				datepicker-options ={'yearRows':4,'yearColumns':5}
				alt-input-formats="altInputFormats"/>
               <button type="button" class="btn btn-info" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>{{dat | date:'yyyy-MM-dd HH:mm:ss'}}
             </div>
         </p>
  </div>
  <!--模板文件input  HTMl-->
    <div id="selectDiv" style="display:none;">
        <input class="form-control" id="userName" type="text" ng-model="userName" style="width:200px;"/>
    </div>

</body>
</html>
