<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" ng-app='myApp'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <title>钟小懒angular1抓取数据</title>

  
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-i18n/1.6.0-rc.1/angular-locale_zh-cn.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js"></script>
    <script src="http://cdn.bootcss.com/angular-ui-grid/4.0.2/ui-grid.js"></script>
    <script src="http://cdn.bootcss.com/pdfmake/0.1.26/pdfmake.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"></link>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="http://cdn.bootcss.com/angular-ui-grid/4.0.2/ui-grid.css" rel="stylesheet">
    
    <script>
    var app = angular.module('myApp', ['ui.grid','ui.grid.selection','ui.grid.edit',
            'ui.grid.exporter','ui.grid.pagination','ui.grid.resizeColumns','ui.grid.autoResize','ui.bootstrap']);
        
        app.controller('MyCtrl', function($scope,i18nService,$http,$uibModal,$log) {
            // 国际化；
            i18nService.setCurrentLang("zh-cn");
            $scope.gridOptions = {
                data: 'myData',
                columnDefs: [{ field: 'id', 
                                 displayName: 'ID', 
                                 width: '10%', 
                                 enableColumnMenu: true,// 是否显示列头部菜单按钮
                                 enableHiding: false,
                                 suppressRemoveSort: true,
                                 enableCellEdit: false // 是否可编辑
                             },
                             { field: "content",displayName: '内容',width: '70%'},
                             { field: "share_url",displayName: '地址'},
                             { field: "online_time",displayName: '时间'},
                             {  
                            field : 'action',  
                            displayName : "操作",  
                            cellTemplate : '<div class="container-fluid"><div class="row cell-action-style"><div class="col-xs-3 text-center"><div class="div-click"  ng-click="grid.appScope.goToUpdate(row)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></div></div><div class="col-xs-3 text-center" ><div class="div-click"  ng-click="grid.appScope.goToDelete(row)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div></div><div></div></div></div>',  
                            enableCellEdit: false
                            }
                            ],
                            
                enableSorting: true, //是否排序
                useExternalSorting: false, //是否使用自定义排序规则
                enableGridMenu: true, //是否显示grid 菜单
                showGridFooter: true, //是否显示grid footer
                enableHorizontalScrollbar :  0, //grid水平滚动条是否显示, 0-不显示  1-显示
                enableVerticalScrollbar : 0, //grid垂直滚动条是否显示, 0-不显示  1-显示
                
                //-------- 分页属性 ----------------
                enablePagination: true, //是否分页，默认为true
                enablePaginationControls: true, //使用默认的底部分页
                paginationPageSizes: [10, 11,12,13,14,15,16,17,18,19,20], //每页显示个数可选项
                paginationCurrentPage:1, //当前页码
                paginationPageSize: 20, //每页显示个数
                //paginationTemplate:"<div></div>", //自定义底部分页代码
                totalItems : 0, // 总数量
                useExternalPagination: true,//是否使用分页按钮
                
           
                //----------- 选中 ----------------------
                enableFooterTotalSelected: true, // 是否显示选中的总数，默认为true, 如果显示，showGridFooter 必须为true
                enableFullRowSelection : true, //是否点击行任意位置后选中,默认为false,当为true时，checkbox可以显示但是不可选中
                enableRowHeaderSelection : true, //是否显示选中checkbox框 ,默认为true
                enableRowSelection : true, // 行选择是否可用，默认为true;
                enableSelectAll : true, // 选择所有checkbox是否可用，默认为true; 
                enableSelectionBatchEvent : true, //默认true
                   isRowSelectable: function(row){ //GridRow
                   if(row.entity.age > 45){
                       row.grid.api.selection.selectRow(row.entity); // 选中行
                   }
                },
                modifierKeysToMultiSelect: false ,//默认false,为true时只能 按ctrl或shift键进行多选, multiSelect 必须为true;
                multiSelect: true ,// 是否可以选择多个,默认为true;
                noUnselect: false,//默认false,选中后是否可以取消选中
                selectionRowHeaderWidth:30 ,//默认30 ，设置选择列的宽度；
                
                //--------------导出----------------------------------
                exporterAllDataFn: function(){
                       return getPage(1,$scope.gridOptions.totalItems);
                },
                exporterCsvColumnSeparator: ',',
                exporterCsvFilename:'download.csv',
                exporterFieldCallback : function ( grid, row, col, value ){
                 if ( value == 50 ){
                   value = "可以退休";
                 }
                 return value;
                },
                exporterHeaderFilter :function( displayName ){ 
                   return 'col: ' + name; 
                },
                exporterHeaderFilterUseName : true,
                exporterMenuCsv : true,
                exporterMenuLabel : "Export",
                exporterMenuPdf : true,
                exporterOlderExcelCompatibility : false,
                exporterPdfCustomFormatter : function ( docDefinition ) {
                 docDefinition.styles.footerStyle = { bold: true, fontSize: 10 };
                 return docDefinition;
                },
                exporterPdfFooter :{ 
                                     text: 'My footer', 
                                     style: 'footerStyle' 
                                   },
                exporterPdfDefaultStyle : {
                  fontSize: 11,font:'simblack' //font 设置自定义字体
                },
                exporterPdfFilename:'download.pdf',
                /* exporterPdfFooter : {
                 columns: [
                   'Left part',
                   { text: 'Right part', alignment: 'right' }
                 ]
                }, 
                或 */
                exporterPdfFooter: function(currentPage, pageCount) { 
                       return currentPage.toString() + ' of ' + pageCount; 
                },
                exporterPdfHeader : function(currentPage, pageCount) { 
                   return currentPage.toString() + ' of ' + pageCount; 
                },
                exporterPdfMaxGridWidth : 720,
                exporterPdfOrientation : 'landscape',//  'landscape' 或 'portrait' pdf横向或纵向
                exporterPdfPageSize : 'A4',// 'A4' or 'LETTER' 
                exporterPdfTableHeaderStyle : {
                 bold: true,
                 fontSize: 12,
                 color: 'black'
                },
                exporterPdfTableLayout : null,
                exporterPdfTableStyle: {
                 margin: [0, 5, 0, 15]
                },
                exporterSuppressColumns : ['buttons'],
                exporterSuppressMenu: false,

                //---------------api---------------------
                onRegisterApi: function(gridApi) {
                    $scope.gridApi = gridApi;
                    //分页按钮事件
                    gridApi.pagination.on.paginationChanged($scope,function(newPage, pageSize) {
                          if(getPage) { 
                              getPage(newPage, pageSize); 
                           }
                    });
                    //行选中事件
                    $scope.gridApi.selection.on.rowSelectionChanged($scope,function(row,event){
                        if(row){
                            $scope.testRow = row.entity;
                        }
                     });
                     
                }
            };


            var mydefalutData = [];
            function toutiao(){
                mydefalutData = [];//清空数据
                var myUrl = "http://www.toutiao.com/api/article/feed/?category=essay_joke&utm_source=toutiao&widen=1&max_behot_time=0&max_behot_time_tmp=0&tadrequire=true&as=A155E87DDC4B37E&cp=58DC4B13972E4E1&callback=JSON_CALLBACK";
                $http.jsonp(myUrl).success(function(data){//jsonp   抓取今日头条 内涵段子 数据
                        angular.forEach(data.data,function(n,i){
                            delete n.comments;
                            delete n.display_time;
                            delete n.online_time;
                            delete n.type;
                            mydefalutData.push(n.group);
                        })
                        //分页数据
                        let curPage = 1;
                        let pageSize = $scope.gridOptions.paginationPageSize
                        let firstRow = (curPage - 1) * pageSize;
                        $scope.gridOptions.totalItems = mydefalutData.length;
                        $scope.gridOptions.data = mydefalutData.slice(firstRow, firstRow + pageSize);
                　　});
            }

            //copy对象
            function copy(obj){
                    var newobj = {};
                    for ( var attr in obj) {
                        newobj[attr] = obj[attr];
                    }
                    return newobj;
            }
            
            var getPage = function(curPage, pageSize) {
                    var firstRow = (curPage - 1) * pageSize;
                    $scope.gridOptions.totalItems = mydefalutData.length;
                    $scope.gridOptions.data = mydefalutData.slice(firstRow, firstRow + pageSize);
            };

             $scope.goToUpdate=function(row){
                //alert('修改'+angular.toJson(row.entity)); 
                $scope.item = row.entity;
                debugger;
                var msg = new Object();
                msg.title = "内容......";
                msg.context = angular.fromJson(row.entity);
                var par = {
                            msgFun: function () {
                                return msg;
                            }
                        }
                    var modalInstance = $uibModal.open({
                    templateUrl: 'myModalContent.html',
                    controller: 'ModalInstanceCtrl',
                    backdrop: "static",
                    animation:true,
                    size: 'lg',
                    resolve: par
                    });
                    modalInstance.result.then(function (selectedItem) {
                        $scope.selected = selectedItem;
                    }, function () {
                        $log.info('Modal dismissed at: ' + new Date());
                    });
            }; 
            //goToDelete
             $scope.goToDelete=function(row){
                //alert('删除'+angular.toJson(row.entity)); 
                $scope.item = row.entity;
                debugger;
                var msg = new Object();
                msg.title = "删除？......";
                msg.context = angular.fromJson(row.entity.id);
                var par = {
                            msgFun: function () {
                                return msg;
                            }
                        }
                    var modalInstance = $uibModal.open({
                    templateUrl: 'delModalContent.html',
                    controller: 'delModalInstanceCtrl',
                    backdrop: "static",
                    animation:true,
                    size: 'sm',
                    resolve: par
                    });
                    modalInstance.result.then(function (selectedItem) {
                        $scope.selected = selectedItem;
                    }, function () {
                        $log.info('Modal dismissed at: ' + new Date());
                    });
            }; 
           
            $scope.search = function (){
                toutiao();
               //getPage(1, $scope.gridOptions.paginationPageSize);
           }


            getPage(1, $scope.gridOptions.paginationPageSize);
            toutiao();
    });

    // 详情ModalInstanceCtrl 弹窗controller  
        app.controller('ModalInstanceCtrl', function ($scope, $uibModalInstance, msgFun) {
            debugger;
            var vm = this;
            $scope.items = msgFun.context;
            $scope.title = msgFun.title;
            $scope.ok = function () {
                $uibModalInstance.dismiss('cancel');
            };
            $scope.cancel = function () {
                $uibModalInstance.dismiss('cancel');
            };
    });
    // 删除delModalInstanceCtrl 弹窗controller  
        app.controller('delModalInstanceCtrl', function ($scope, $uibModalInstance, msgFun) {
            debugger;
            var vm = this;
            $scope.items = msgFun.context;
            $scope.title = msgFun.title;
            $scope.ok = function () {
                $uibModalInstance.dismiss('cancel');
            };
            $scope.cancel = function () {
                $uibModalInstance.dismiss('cancel');
            };
    });

    </script>

</head>
<body ng-controller="MyCtrl">
        
        <a href="#" class="btn btn-info btn-lg" ng-click="search();">
          <span class="glyphicon glyphicon-download"></span> 点击-抓取今日头条内涵段子数据
        </a>

        <hr/>

        <div  ui-grid="gridOptions" style="width: 100%; height: 700px; text-align: center;color: #F57303;"
         ui-grid-edit ui-grid-pagination  ui-grid-selection ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize>
        </div>
        
        {{testRow}}

        <div style="display: none;width:100%;height: 100px;">
             <ol>
                <li>名称：{{testRow.name}}</li>
                <li>年龄：{{testRow.age}}</li>
                <li>生日：{{testRow.birthday}}</li>
             </ol>   
        </div>


        <script type="text/ng-template" id="myModalContent.html">
                    <div ng-model="bootDemo">
                        <div class="modal-header">
                            <h4 class="modal-title"><span class="glyphicon glyphicon-envelope">{{title}}</h4>
                        </div>
                        <div class="modal-body">
                            <a href="#" class="list-group-item active">
                                <h4 class="list-group-item-heading">
                                   段子-
                                </h4>
                            </a>
                            <ul class="list-group">
                                <li class="list-group-item"> {{items.id}}</li>
                                <li class="list-group-item"> {{items.content}}</li>
                                <li class="list-group-item"> {{items.share_url}}</li>
                                <li class="list-group-item"> {{items.online_time | date:'yyyy-MM-dd HH:mm:ss'}}</li>
                            <ul>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" ng-click="ok()">确定</button>
                            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
                        </div>
                    </div>
        </script>

        <script type="text/ng-template" id="delModalContent.html">
                    <div ng-model="bootDemo">
                        <div class="modal-header">
                            <h4 class="modal-title"><span class="glyphicon glyphicon-remove">{{title}}</h4>
                        </div>
                        <div class="modal-body">
                            {{items}}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" ng-click="ok()">确定</button>
                            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
                        </div>
                    </div>
        </script>

    </body>
</html>